.content {
    display: grid;
    overflow: hidden;

    width: 100vw;

    background: #111119;

    grid-template:
        "timeline introduction" auto
        "timeline about" auto
        "timeline projects" auto / 0.2fr 1fr;

        section {
            height: 100vh;
            width: 100%;
        }

    .introduction {
        grid-area: introduction;
    }

    .about {
        grid-area: about;
    }

    .projects {
        grid-area: projects;
    }

    @media only screen and (max-width: 1124px) {
        grid-template:
        "introduction" auto
        "about" auto
        "projects" auto / 1fr;

        // display: flex;
    }
}
