@import "./introduction.scss";
@import "./content.scss";

html,
body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    font-family: "Roboto";
}

h1 {
    margin: 0;
    font-size: 5em;
    font-weight: 500;
}

h2 {
    margin: 0;
    font-size: 3.5em;
    font-weight: 300;
}

h3 {
    margin: 0;
    font-size: 2em;
    font-weight: 300;
}

div,
section,
ul,
li {
    z-index: 2;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }
}
