@import "./introduction.scss";
@import "./about.scss";
@import "./projects.scss";
@import "./content.scss";
@import "./timeline.scss";

html,
body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    font-family: "Roboto";
}

h1 {
    margin: 0;
    font-size: 5em;
    font-weight: 500;
}

h2 {
    margin: 0;
    font-size: 3.5em;
    font-weight: 300;
}

h3 {
    margin: 0;
    font-size: 2em;
    font-weight: 100;
}

div,
section,
ul,
li {
    z-index: 2;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-16px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.2em;
    }
}
