@keyframes jump {
    0% {
        transform: translateY(-12px);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(-12px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.introduction {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: 1124px) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    color: white;

    background: linear-gradient(to bottom, #202020, #111119);

    animation: fade-in 1s;

    .background {
        position: absolute;
        top: 0;
        left: 0;

        z-index: -1;

        width: 100vw;
        height: 100vh;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 128px;

        .title {
            @media only screen and (max-width: 600px) {
                text-align: center;
            }

            padding: 32px 16px;
        }

        .separator {
            height: 32px;
        }

        .separator::before {
            content: "";
            display: block;
            position: relative;

            width: 128px;
            height: 4px;

            left: 30%;

            border-radius: 8px;
            background: whitesmoke;
        }

        .separator::after {
            content: "";
            display: block;
            position: relative;

            width: 128px;
            height: 4px;

            top: 50%;
            left: 100%;

            border-radius: 8px;
            background: whitesmoke;
        }

        .sub-title {
            padding: 16px;

            font-weight: 100;
        }
    }

    .jumper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        content: "\f0a8";
        font-family: "FontAwesome";
        transition: 0.3s ease-in-out;
        font-size: 30px;
        animation: jump 5s infinite;
    }

    .info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-size: 1.5em;

        a {
            text-decoration: none;
            color: #20639b;
        }

        a:hover {
            text-decoration: none;
            color: #20639b;
        }

        a:visited {
            text-decoration: none;
            color: #20639b;
        }

        @media only screen and (max-width: 1124px) {
            margin-left: 128px;
        }
    }
}
